body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Базовая стилизация */

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.button {
	border: none;
	outline: none;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	background-color: #ee3643;
}

.button a {
	color: white;
	text-transform: uppercase;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
	outline: none;
}

.button:active {
	background-color: #ba2732;
}

.main-header {
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
	background-color: #f3f7f9;
}

.main-header ul {
	list-style: none;
}

.main-header-top {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
  line-height: 18px;
	color: white;
	background-color: #293449;
}

.main-header-top input {
  font: inherit;
  color: white;
  background-color: #293449;
  border: none;
}

.main-header-top input:focus {
	outline: none;
	color: #000000;
	background-color: white;
	appearance: none;
}

/* потом нужно будет адекватно сделать с ховером */

.main-header-top a {
	color: white;
}

.user-menu a:hover,
.user-menu a:focus {
	background-color: #212a3a;
	outline: none;
}

.user-menu a:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.user-menu .filled {
	background-color: #ee3643;
}

.user-menu .filled:hover,
.user-menu .filled:focus {
	background-color: #ca2c37;
}

.user-menu .filled:active {
	background-color: #ba2732;
}

.user-menu .order {
	background-color: #63a63e;
}

.user-menu .order:hover,
.user-menu .order:focus {
	background-color: #5fbb2d;
	outline: none;
}

.user-menu .order:active {
	background-color: #63a63e;
}

/* Форму поиска не стилизовала до конца */

/*Здесь начинается белая часть хедера*/

.main-header p {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
}

.header-address a {
	font-size: 21px;
	line-height: 18px;
	font-style: normal;
	color: #e9292a;
}

.header-address p {
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	color: #32425c;
}

.user-login li {
	background-color: #ffffff;
}

.user-login a {
	font-size: 21px;
	color: black;
}

.user-login a:hover,
.user-login a:focus {
	color: #ee3643;
	outline: none;
}

.user-login a:active {
	color: black;
	opacity: 0.3;
}

.user-navigation .autorization {
	background-color: white;
}

.autorization a {
	font-size: 21px;
	line-height: 18px;
	color: black;
}

.autorization a:hover,
.autorization a:focus {
	outline: none;
	/*здесь будет изменение рисунков*/
}

.autorization a:active {
	opacity: 0.3;
}

.profile-links a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;

}

.profile-links a:hover,
.profile-links a:focus {
	outline: none;
	color: #ee3643;
}

.profile-links a:active {
	color: #32425c;
	opacity: 0.3;
}

/* не уверена насчет opacity. Возможно, лучше сделать через rgba? */

.main-navigation {
	background-color: #32425c;
}

.main-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: white;
}

.main-navigation a:hover,
.main-navigation a:focus {
	background-color: #293449;
}

.main-navigation a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

/* Здесь начинается промоблок */

.promo {
	color: white;
	font-family: "Cuprum", "Arial", sans-serif;
}

.promo-list-catalog li:first-child {
	background-color: #ffbf47;
}

.promo-list-catalog li:nth-child(2) {
	background-color: #3bbce3;
}

.promo-list-catalog li:last-child {
	background-color: #dc91d8;
}

.promo-list-features li:first-child {
	background-color: #8ed78f;
}

.promo-list-features li:last-child {
	background-color: #ffc047;
}

.promo-item a {
	background-color: rgba(0, 0, 0, 0.1);
}

.promo a {
	color: white;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.promo-item a:hover,
.promo-item a:focus {
	background-color: rgba(0, 0, 0, 0.2)
}

.promo-item a:active {
	background-color: rgba(0, 0, 0, 0.3)
}

/* это слайдер */
/* цвет фона это временное решение */
.promo-slider {
	background-color: lightgray;
}

.promo-slider-item h3 {
	font-size: 36px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700px;
}

.promo-slider-item p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
}

/*Популярные товары*/
.title {
	background-color: #f9f5f0;
}

.title h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
  color: #3d546e;
  text-transform: uppercase;
}

.products-item a {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: black;
}

.products-item {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

.products-price {
	color: white;
	background-color: #ee3643;
}

.products-old-price {
	color: #a9a9a9;
	text-decoration: line-through;
}

.hover-buttons {
	display: none;
}

.products-item:hover .hover-buttons {
	display: block;
}

.button-buy {
	background-color: #63a63e;
}

.button-buy:hover,
.button-buy:focus {
	background-color: #5fbb2d;
}

.button-buy:active {
	background-color: #518534;
}

.button-bookmark {
	color: #32425c;
	background-color: white;
	/* (здесь будут бордеры) */
}

.button-bookmark:hover,
.button-bookmark:focus {
	background-color: white;
	/* (и здесь будут бордеры) */
}

.button-bookmark:active {
	color: rgba(20%, 26%, 36%, 0.3);
}

/* здесь начинаются сервисы, пока что стилизую верхний слой */
.services {
	background-color: #f4f8f9;
}

.services h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services-item h2 {
  font-size: 36px;
	line-height: 36px;
	color: #3d546e;
}

.services {
	list-style: none;
}

.services li {
	list-style: none;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color: white;
	background-color: #3d546e;
}

.services li:first-child {
	color: #3d546e;
	background-color: white;
}
/* вообще-то это будет active, нужно сделать слайдер - и не забыть сделать ховер
и фокус для этих переключателей */

/* это пошел блок "about" */

.about-contacts h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.about ul {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
}

/* это пошел блок "footer" */

.main-footer {
	font-family: "Cuprum", "Arial", sans-serif;
	color: white;
	background-color: #293449;
}

.main-footer ul {
	list-style: none;
}

.main-footer-top {
	background-color: #32425c;
	font-size: 18px;
}

.main-footer-top a {
	color: white;
}

.catalog-navigation a {
	color: #ffd180;
}

.main-footer-navigation a:hover,
.catalog-navigation a:hover,
.main-footer-navigation a:focus,
.catalog-navigation a:focus {
	text-decoration: underline;
}

.main-footer-navigation a:active,
.catalog-navigation a:active {
	opacity: 0.5;
	text-decoration: none;
}

.main-footer-address {
	font-style: normal;
}

.main-footer-bottom {
	font-size: 16px;
	line-height: 18px;
}

.main-footer-bottom a {
	color: #ffd180;
}

.main-footer-bottom a:hover,
.main-footer-bottom a:focus {
	text-decoration: underline;
}

.main-footer-bottom a:active {
	text-decoration: none;
	color: #ee3643;
}

/* Здесь начинаются модальные окна */

.modal-write-us {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.modal-write-us input {
	font: inherit;
}

.modal-write-us label {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
}

.modal-basket p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 18px;
}

.button-basket-back {
	background-color: white;
	color: black;
}

.button-basket-back:hover,
.button-basket-back:focus {
	background-color: white;
	outline: none;
	color: #ee3643;
}

.button-basket-back:active {
	background-color: white;
	color: rgba(0, 0, 0, 0.3);
}

/*каталог*/
.breadcrumbs {
	list-style: none;
	line-height: 18px;
	text-transform: uppercase;
}
.breadcrumbs a {
	color: black;
}

.perforators-content h1 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
	background-color: #f2f6f8;
}

/* фильтры */
.perforators-content h3 {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.filters legend {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
}

.brands-filter label {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.power-filter label {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}

.button-filter {
	font-size: 13px;
	background-color: white;
	color: black;
}

.button-filter:hover,
.button-filter:focus {
	background-color: white;
	outline: none;
	color: #ee3643;
}

.button-filter:active {
	background-color: white;
	color: rgba(0, 0, 0, 0.3);
}

/* Сортировка */
.sorting {
	background-color: #f7f3ec;
}

.sorting ul {
	list-style: none;
	text-transform: uppercase;
}

.sorting a {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #ee3643;
}

.sorting a:hover,
.sorting a:focus {
	color: black;
	text-decoration-style: solid;
}

.sorting a:active {
	color: #ee3643;
	text-decoration: none;
}

/* временная мера, чтобы на странице "цена" выглядела как на макете */
.sorting-parameter .active {
	color: #ee3643;
	text-decoration: none;
}

.pagination li {
	list-style: none;
}

.pagination a {
	font-size: 13px;
	background-color: white;
	color: black;
	text-transform: uppercase;
}

.pagination .active {
	color: white;
	background-color: #ee3643;
}

.annotation h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.annotation {
	background-color: #f2f6f8;
}

/* СЕТКА 
СЕТКА 
СЕТКА 
СЕТКА 
СЕТКА
СЕТКА
*/
/* Здесь начинается Хедер */
.main-header-top {
	width: 100%;
	margin-bottom: 45px;
	background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-header-top .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.main-header-logo {
	display: block;
	height: 42px;
}

.user-menu {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.main-header-content {
	margin-bottom: 42px;
	display: flex;
	justify-content: space-between;
}

.main-header-content p {
	display: block;
	width: 200px;
	padding: 0;
	margin: 0;
}

.header-address {
	width: 270px;
}

.user-login-links {
	display: flex;
	padding: 0;
	margin: 0;
}

.profile-links {
	display: flex;
	padding: 0;
	margin: 0;
}

.main-navigation ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0 21px 0 18px;
	align-items: center;
	box-shadow: inset 0 -5px #293449;
}

.main-navigation li {
	flex-grow: 1;
	text-align: center;
}

.main-navigation a {
	display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 23px;
}

.main-header {
	padding-bottom: 60px;
}

/* здесь начинается Промо */

.promo {
	padding-top: 60px;
	padding-bottom: 53px;
}

.promo ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.promo-list-catalog {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

.promo-item {
	width: 300px;
	height: 123px;
}

.promo-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 940px;
	height: 266px;
	padding-top: 20px;
	align-content: space-between;
}

.promo h3 {
	margin: 0;
	padding: 0;
}

.promo-slider {
	width: 620px;
	height: 266px;
}

.promo-wrapper .promo-item:first-of-type {
	margin-bottom: 20px;
}
/* мне кажется, этого можно было добиться средствами флексбокса, но 
	justify-content: space-between; их не распределял как надо; align-content
	влиял только на положение "по ширине", то есть на выравнивание вокруг 
	главных направляющих, не по y. */

/* здесь начинается Популярные товары */

.title {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 20px;
	padding: 30px;
}

.title h2 {
	margin: 0;
}

.products-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products-item {
	border: 1px solid #eaeaea;
	width: 218px;
	/* временно для сетки */
	min-height: 316px;
	margin-bottom: 20px;
}

/* здесь начинается Популярные производители (бренды) */

.brands ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.brands {
	padding-bottom: 65px;
}

.brands-list a {
	display: block;
	height: 143px;
	border: 1px solid #eaeaea;
	margin-bottom: 20px;
	min-height: 140px;
}
/* здесь начинается Сервисы - не стала их подробно размечать, нужно 
сначала сделать слайдеры */

.services h2 {
	margin: 0;
	margin-bottom: 34px;
}

.services {
	padding-top: 68px;
	/* временно для сетки */
	min-height: 454px;
}

.slider-buttons {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.services p {
	margin: 0;
}
/* здесь начинается about-contacts */

.about-contacts {
	display: flex;
	justify-content: space-between;
	padding-top: 82px;
	padding-bottom: 86px;
}

.about-contacts h2 {
	margin: 0;
}

.about {
	width: 540px;
	min-height: 368px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contacts {
	width: 300px;
	min-height: 368px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/* здесь начинается футер */
.main-footer-top {
	/* временно для сетки */
	min-height: 193px;
}
.main-footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-footer-top-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 96px;
}

.main-footer-top-wrapper:last-child {
	min-height: 98px;
}

.main-footer-top address {
	padding-left: 4px;
}

.main-footer-navigation {
	width: 550px;
	align-items: center;
}

.catalog-navigation {
	width: 525px;
}


.main-footer-bottom p {
	margin: 0;
}

.main-footer-bottom .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 106px;
	align-items: center;
	padding-top: 10px;
}

.developer {
	width: 300px;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 14px;
	align-items: center;
}

/* Здесь начинается Каталог*/
/* Здесь начинается Хлебные крошки */
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 60px;
}

.perforators-content h1 {
	margin: 0;
	padding: 28px;
}

/* здесь начинается основной контент */
.main-content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
}

/* здесь начинаются фильтры, подробно не прорабатываю, пока не сделала их */
.perforators-content form {
	/* временно для сетки */
	width: 220px;
	min-height: 746px;
}

.perforators-main-content {
	width: 700px;
}

.perforators-content h3 {
	padding: 12px 0 12px 18px;
	margin: 0;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin-bottom: 20px;
}

.sorting ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	/* не стала дорабатывать, сделаю, когда перейду к мелкосетке */
}

.pagination {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 32px;
	margin-bottom: 60px;
}

.pagination li {
	width: 36px;
	height: 36px;
	border: 1px solid #e5e5e5;
	margin-right: 10px;
}

.pagination a {
	display: block;
	width: 100%;
	padding: 6px 0;
	text-align: center;
}

.pagination li:first-child {
	border: 1px solid #ee3643;
}

.pagination li:last-child {
	width: 138px;
}

/* здесь начинается аннотация */
.annotation {
	padding: 63px 0;
}

.annotation h2 {
	margin: 0;
	margin-bottom: 30px;
}

.annotation p {
	margin: 0;
}


/* на этапе главной сетки скрыла модальные окна */
.modal {
	display: none;
}

